{% macro sidebar_filters(filters) %}
<section aria-labelledby="filters-heading" class="hidden lg:block pb-24 pt-6">
    <h2 id="filters-heading" class="sr-only">Filters</h2>
    <div id="filter-container">
        <form id="filters" hx-post="/laptops" hx-trigger="change" hx-target="#table-body" hx-include="#filters, #search">
            {% for filter in filters %}
            {{ accordion(filter.label, checkboxes(filter.type, filter.options)) }}
            {% endfor %}
        </form>
    </div>
</section>
{% endmacro %}


{% macro mobile_filters(filters) %}
<div id="filter-offcanvas" class="relative z-40 hidden lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-black bg-opacity-25 transition-all"></div>
    <div class="fixed inset-0 z-40 flex">
        <div
            class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white dark:bg-slate-800 py-4 pb-12 shadow-xl">

            <div class="flex items-center justify-between px-4">
                <h2 class="text-lg font-medium text-slate-900 dark:text-white">Filtry</h2>
                <button id="filter-close" type="button"
                    class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md p-2 text-slate-400">
                    <span class="sr-only">Zamknij filtry</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="mt-4 px-4 border-t border-slate-200 dark:border-slate-700">
                <h3 class="sr-only">Filtry</h3>
                <div id="offcanvas-filter-container"></div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro accordion(title, content) %}
<div class="border-b border-slate-200 dark:border-slate-700 py-6">
    <h3 class="-my-3 flow-root accordion">
        <button type="button"
            class="flex w-full items-center justify-between py-3 text-sm text-slate-400 hover:text-slate-500 dark:text-white"
            aria-controls="filter-section-0" aria-expanded="false">
            <span class="font-medium text-slate-900 dark:text-white">{{ title }}</span>
            <span class="ml-6 flex items-center">
                <svg class="h-5 w-5 icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                <svg class="h-5 w-5 hidden icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </button>
    </h3>
    <div class="pt-6 hidden" id="filter-section-0">
        {{ content }}
    </div>
</div>
{% endmacro %}


{% macro checkboxes(type, options)%}
<div class="space-y-4">
    {% for option in options %}
    <div class="flex items-center">
        <input id="filter-color-0" name="{{ type }}" value=" {{ option.value }}" type="checkbox"
            class="h-4 w-4 rounded border-slate-300 text-blue-600 focus:ring-blue-500">
        <label for="filter-color-0" class="ml-3 text-sm text-slate-600 dark:text-white">{{ option.label }}</label>
    </div>
    {% endfor %}
</div>
{% endmacro %}


{% macro mobile_filter_button() %}
<button id="filter-open" type="button"
    class="-m-2 ml-4 p-2 text-slate-400 hover:text-slate-500 dark:text-white sm:ml-6 lg:hidden">
    <span class="sr-only">Filters</span>
    <svg class="h-5 w-5" aria-hidden="true" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
            d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z"
            clip-rule="evenodd" />
    </svg>
</button>
{% endmacro %}