{% macro table(laptops) %}
<div class="lg:col-span-3">
    <table class="w-full mt-4">
        <thead>
            <tr>
                <th class="px-2 text-left bg-white">Model</th>
                <th class="hidden md:table-cell px-2 text-left bg-white">Ekran</th>
                <th class="hidden md:table-cell px-2 text-left bg-white">Dysk</th>
                <th class="hidden md:table-cell px-2 text-left bg-white">RAM</th>
                <th class="hidden lg:table-cell px-2 text-left bg-white">Bateria</th>
                <th class="hidden lg:table-cell px-2 text-left bg-white">Waga</th>
                <th class="px-2 text-left bg-white">Wydajność</th>
                <th class="px-2 text-left bg-white">Cena</th>
            </tr>
        </thead>
        <tbody>
            {% for laptop in laptops %}
            <tr>
                <td class="px-2 whitespace-nowrap">{{ laptop.model }}</td>
                <td class="hidden md:table-cell px-2">{{ laptop.screen }}</td>
                <td class="hidden md:table-cell px-2">{{ laptop.disk }}</td>
                <td class="hidden md:table-cell px-2">{{ laptop.ram }}</td>
                <td class="hidden lg:table-cell px-2">{{ laptop.battery }}</td>
                <td class="hidden lg:table-cell px-2">{{ laptop.weight }}</td>
                <td class="px-2">{{ laptop.performance }}</td>
                <td class="px-2">{{ laptop.price }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endmacro %}