{% macro tabs() %}
<div class="mb-4 border-b border-slate-200 dark:border-slate-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="tabs" data-tabs-toggle="#tabs-content" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="table-tab" data-tabs-target="#table" type="button" role="tab" aria-controls="table" aria-selected="false">Tabela</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-slate-600 hover:border-slate-300 dark:hover:text-slate-300" id="chart-tab" data-tabs-target="#chart" type="button" role="tab" aria-controls="chart" aria-selected="false">Wykres</button>
        </li>
    </ul>
</div>
{% endmacro %}