{% macro accordion(title, content) %}
<div class="border-b border-slate-200 py-6">
    <h3 class="-my-3 flow-root accordion">
        <button type="button"
            class="flex w-full items-center justify-between bg-white py-3 text-sm text-slate-400 hover:text-slate-500"
            aria-controls="filter-section-0" aria-expanded="false">
            <span class="font-medium text-slate-900">{{ title }}</span>
            <span class="ml-6 flex items-center">
                <svg class="h-5 w-5 icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
                <svg class="h-5 w-5 hidden icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </button>
    </h3>
    <div class="pt-6 hidden" id="filter-section-0">
        {{ content }}
    </div>
</div>
{% endmacro %}


{% macro checkboxes(labels)%}
<div class="space-y-4">
    {% for label in labels %}
    <div class="flex items-center">
        <input id="filter-color-0" name="color[]" value="white" type="checkbox"
            class="h-4 w-4 rounded border-slate-300 text-indigo-600 focus:ring-indigo-500">
        <label for="filter-color-0" class="ml-3 text-sm text-slate-600">{{ label }}</label>
    </div>
    {% endfor %}
</div>
{% endmacro %}