{% extends 'layout.jinja' %}

{% from 'features/filter.jinja' import sidebar_filters, mobile_filters, mobile_filter_button %}
{% from 'features/table.jinja' import table %}
{% from 'features/chart.jinja' import chart %}

{% block body %}
{{ mobile_filters(filters) }}
<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-baseline justify-between pb-6 pt-8">
        <h2 class="text-4xl font-extrabold dark:text-white">Laptopy do gier</h2>
        <div class="flex items-center">
            {{ mobile_filter_button() }}
        </div>
    </div>
    <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        {{ sidebar_filters(filters) }}
        {{ table(laptops) }}
    </div>
</main>
{% endblock %}